.content-page {
    width: 100%;
    height: 100%;
    margin: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*列表*/

.content-detail {
    height: 100%;
    background: white;
    margin-bottom: 1%;
    border-radius: 15px;
    padding: 2% 3%;
}

.table table {
    width: 100%;
    border-bottom-width: 1px;
    border-collapse: collapse;
    color: #333;
    font-size: 14px;
}

.table table thead tr th, .table table tbody tr td{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: start;
    padding: 1% 0;
    border-bottom-color: #E8E9E9;
}

/*form表单*/
.form-field-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-basis: 100%;
    margin-top: 0.5%;
    font-size: 14px;
    color: #0C3C26;
}

.form-field-content {
    flex-direction: row;
    justify-content: center;
}

.form-field-input input[type='checkbox'] {
    height: 17px;
    width: 17px;
}

.form-field-input input, .form-field-input select, .form-field-input textarea {
    border: 1px solid #d5d5d5;
    letter-spacing: 1px;
    padding: 7px;
    font-size: 14px;
    color: #0C3C26;
}

.form-add form div label {
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.5%;
}

/*form表单按钮*/
.form-button {
    display: flex;
    flex-direction: row-reverse;
    /*margin-top: 1%;*/
    width: 50%;
}

.form-button button, .form-button input[type='submit'] {
    margin: 0 2%;
    padding: 1% 5%;
    border: 0;
    color: white;
}

.form-content-submit {
    background: #44B78B;
}

.form-content-cancel {
    background: #5969ff;
}