.content-ul-flex {
    padding: 0;
    margin: 0.3rem 0.7rem 0.3rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    /*flex-wrap: wrap;*/
}

.content-ul-li {
    padding-right: 1rem;
}

.content-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*margin-bottom: 1rem;*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /*padding-bottom: 1rem;*/
}

.detail-content {
    margin: 2% 0;
}

.detail-content .report-form {
    padding-bottom: 2rem;
}

.detail-header-query {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-ul-flex ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: start;
    flex-wrap: wrap;
}

.content-ul-flex ul li {
    margin-right: 0.5rem;
}
