html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #F6F8FA;
    height: 100%;
}

.close {
    display: none;
}

.open {
    display: block;
}
/* 整个页面 */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* 头导航栏 */
.header-bar {
    width: 100%;
    background: #0dcaf0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    z-index: 2;
}

.header-bar p {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-bar ul {
    padding: 1% 2%;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
}

.header-bar li {
    display: block;
    padding: 0 2%;
}

/* 左侧导航栏以及中间的内容 */
.row-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: #ebeeef;

    flex: 1;
}

.row-two .left-menu {
    width: 16%;
    background: #0c4128;
}

.left-menu a {
    text-decoration: none;
    color: white;
}

.flex-start {
    display: flex;
    justify-content: start;
}