{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>Testing</title>
    <link rel="stylesheet" href="{% static 'content/global.css' %}">
    <link rel="stylesheet" href="{% static 'content/content.css' %}">
    <link rel="stylesheet" href="{% static 'content/echarts_css.css' %}">
    <link rel="stylesheet" href="{% static 'content/detail.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/input_date.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
{#    <link rel="stylesheet" href="{% static 'echarts/echarts.js' %}">#}
    <script src="{% static 'echarts/echarts.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'jq_3.6.0.js' %}"></script>
</head>
<body>
    <div class="page">
        <div class="header-bar">
            {% block header_bar %}
                {% include 'header_bar.html' %}
            {% endblock %}
        </div>
        <div class="row-two">
            {% block left_bar %}
                {% include 'left_bar.html' %}
            {% endblock %}
            <div class="content-page">
                <div class="content-detail">
                    <div class="detail-header">{% block content_detail_header %}{% endblock %}</div>
                    <div class="detail-content">{% block content_detail %}{% endblock %}</div>
                    <div class="detail-bottom">{% block content_detail_bottom %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
